/*Background Colours..........................*/

.bg-colour-black {
		background-color:#000;
}

.bg-colour-charcoal {
		background-color:#4a4a4f;
}

	
.bg-colour-white {
		background-color:#fff;
}

.bg-colour-offwhite {
		background-color:#fafafa;
}


/*Generic Typography Styles.................*/
	
.uppercase {
    text-transform: uppercase;
}

.centered {					/* center aligning  text */
    text-align: center;
}


/*Header Styles............................*/

header {
    color: white;
    padding-bottom: 20px;
    
}

header h1{
    padding: 25px;
}

/*Headline Styles...........................*/

#article-headline-data {
    padding: 40px;
}

/*Map styles...............................*/

#map {

    max-width: 80%;
}

/*Bar Chart styles..........................*/

.section-graphs {
    margin-top:40px;
}

.section-heading-graphs {

    padding: 20px;
}

#ireland-total-cases-graphed, #ireland-total-deaths-graphed {

    max-width: 80%
}


/*Table styles...............................*/

.section-county-table {

margin-top:40px;

}

.county-table-row {
    position:relative;
    height: 290px;
    overflow: hidden;
    padding:20px;


}

/* The tale slider style is used to apply a fade gradient at the bottom of the exposed table element */

.table-slider {
    width:100%;
    height:35px;
    position:absolute;
    background:url(/assets/images/bg-gradient.png) repeat-x;
    left:0;
    bottom:0;    
}

/*Alter Bootstrap defaults..................*/

.table-slider-button.btn-secondary  {

    width: 100%;
    color: #5a6268;
    background-color:white;
    border-color:#eee; 
    
}


.table-slider-button.btn-secondary:focus {
    /*outline-color: lightsteelblue;
    outline-color:rgb(216,226,239) rgb(162,169,179)*/
    outline-color: rgb(216,226,239);opacity:0.6;
    color: lightsteelblue;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {

   background-color: #eee;
   border-color:white;
} 

.table-slider-button.btn-secondary.focus, .table-slider-button.btn-secondary:focus {
    border: none;
}



/* Pie Chart dropdown Menu Styles.........*/

select {

    min-width: 200px
}

/*Footer styles..........................*/
footer {
    color: white;
    padding-top: 20px;
    
}
